Source: iain
Maintainer: Iain Visa <iainvisa@gmail.com>
Section: misc
Priority: optional
Standards-Version: 4.7.0
Build-Depends: debhelper-compat (= 13)

Package: iainrc
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Python project initialiser,
 with git utilities and other stuff.
